<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fool's Gold</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'index.css' %} ">
</head>
<body>
    <div>Your Gold: <span id="score"> {{ gold }} </span></div>
    <div>
        <div class="choice">
            <form class="action" action="/process_money/farm" method="POST">
                {% csrf_token %}
                <h2>Farm</h2>
                <p>(earns 10-20 gold)</p>
                <button>Find Gold!</button>
            </form>
        </div>
        <div class="choice">
            <form class="action" action="/process_money/cave" method="POST">
                {% csrf_token %}
                <h2>Cave</h2>
                <p>(earns 5-10 gold)</p>
                <button>Find Gold!</button>
            </form>    
        </div>
        <div class="choice">
            <form class="action" action="/process_money/house" method="POST">
                {% csrf_token %}
                <h2>House</h2>
                <p>(earns 2-5 gold)</p>
                <button>Find Gold!</button>
            </form>
        </div>
        <div class="choice">
            <form class="action" action="/process_money/casino" method="POST">
                {% csrf_token %}
                <h2>Casino</h2>
                <p>(earns/costs 0-50 gold)</p>
                <button>Find Gold!</button>
            </form>
        </div>
    </div>
    <div>
        <p>Activities:</p>
        <div id="activities">
            <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
            </ul>
        </div>
        <form action="/reset" method="POST">{% csrf_token %}<button>Reset</button></form>
    </div>
</body>
</html>