<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses_app/index.css' %}"></head>
<body>
    <h1 id="welcome">Welcome {{user.first_name}}!</h1>
    <a href="/logout">Logout</a>
    <hr>
    <h1>Add Course</h1>
    <form method="POST" action="/courses/create">
        {% csrf_token %}
        <label>Name:</label>
        <div><input type="text" name="course_name"></div>
        <div>
            <label>Description</label>
            <div><textarea cols=30 rows=10 name="course_description"></textarea></div>
        </div>
        <button>Add Course</button>
    </form>
    <div>
        {%if errors%}
        <ul>
        {%for error in errors%}
        {% if error.tags == "course error" %}
            <li>{{error}}</li>
        {%endif%}
        {%endfor%}
        </ul>
        {%endif%}
    </div> 
    <hr>
    <h1>Courses</h1>
    <table>
        <thead>
            <th>Course Name</th>
            <th>Creator</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td class="normal_cell"><a href="/courses/{{course.id}}/show">{{ course.course_name }}</a></td>
                <td class="normal_cell">{{ course.creator.first_name }} {{course.creator.last_name }}</td>
                <td id="description-cell">{{ course.description }}</td>
                <td class="normal_cell">{{ course.date_created }}</td>
                <td class="normal_cell">
                    {% if user.id == course.creator.id %}
                    <button><a href="/courses/{{course.id}}/remove">remove</a></button>
                    {% endif %} 
                    {% if not user in course.students.all %}
                    <form action="/courses/{{course.id}}/enroll", method="POST">
                        {% csrf_token %}
                        <button>Enroll</button>
                    </form>
                    {% else %}
                    <form action="/courses/{{course.id}}/unenroll", method="POST">
                        {% csrf_token %}
                        <button>Unenroll</button>
                    </form>
                    {% endif %}
                </td>        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>